* { -moz-box-sizing: border-box; 
    -webkit-box-sizing:  border-box; 
    box-sizing: border-box; 
}
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	font-family:helvetica;
	
}

body,ul,li,header,nav,aside,section,article,p {
	padding:0;
	margin:0;
	border:0;
}


#sidebar {
	z-index: 1000;
}
#sidebar header{
    position:fixed;
    display:block;
    left:0;
     width:300px;

}

#content header{
    position:fixed;
    display:block;
    left:301px;
     width:500px;

}

header{
	top: 0px;
	height:43px;
	line-height:43px;
	border-bottom:1px solid #838a9a;
	
	color:white;
	font-size:18px;
	font-weight:bold;
	text-align:center;

	background-color: rgb(79,129,189);
	

}
header a {
	text-decoration: none;
	color: white;
	left: 0px;
	
	
	
}

/*header span a.back {
	background: url('img/chevron.png') no-repeat left;
	
	
}*/
.portaitheader {
    display: none;
	text-align: left;
	margin-left: 10px;
}


/*.sidebarsection {
    position:fixed;
    display:block;
    left:0;
     width:300px;
    height:50px;
     background:#efefef;
}
*/
.sidebarsection {
	position:fixed;
	left:0;
    top:43px;
	width:300px;
    bottom:0px;
    background:#fff;    
    overflow:hidden;  
    height:auto;
	
}

.divabsolute {
	position: absolute;
}

.window.transparent {
    visibility: hidden;
    opacity: 0;
    height:0px;

}

.window.current {
    visibility: visible;
    opacity: 1;
    transition:opacity 0.5s;
    -webkit-transition:opacity 0.5s; 
}


.windowsection {
    position:fixed;
    display:block;
    left:301px;
     width:300px;
    height:50px;
     background:#efefef;
	  border-left: 1px solid black;
}

.windowsection {
    top:43px;
    bottom:0px;
  
    overflow:hidden;  
    height:auto;

/*	-webkit-transition: clip 0.5s ease;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;*/
	z-index: 10;
}

#sidebar footer{
    position:fixed;
    display:block;
    left:0;
     width:300px;
    height:50px;
     background:#efefef;
}

.window {
	position: absolute;
	z-index: 20;
}
footer{
    bottom:0;  
    padding:5px;
    
}


article{
    display:block;
    width:100%;
    position:relative;
}

article p{
    display:block;
    border-bottom:1px solid #fafafa;
    line-height:40px;
    margin:0;
}

/* ISCROLL SETTINGS */
.scroll-wrap {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}


.menu {
position: absolute;
	top:0px; bottom:0;
    left: 0;
    right:0;
	width: 300px;
	font-size:15px;
	z-index: 1;

}

/*.menu landscape {
	position: 
}*/
.menu.transparent {
    visibility: hidden;
	
}

.menu.current {
    visibility: visible;
	
}

.menu ul li  {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.menu ul li a.submenu  {
    background: url('img/chevron.png') no-repeat right;
}

.menu ul li a.current {
        background-color: lightgray;
}
       

.menu ul li a {
    text-decoration: none;
    display: block;
    color: black;
    white-space: nowrap;
    padding-left: 10px;

}

.navScroller > li {
	padding:0 10px;
	border-bottom:1px solid #ccc;
	height:40px; line-height:40px;
}



.slideleftin{
transition:all 0.5s ease;
-webkit-transition:all 0.5s ease; /* Safari */


}


.slideleftout{
transition:margin-left 0.5s ease;
-webkit-transition:margin-left 0.5s ease; /* Safari */


}

.sliding {
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease; /* Safari */
	
}

.slideend {
	left: 0px;
	width: 300px;
	margin-left:-0px;
}


.leftin {
	left: -300px;
	/*width: 0px;*/
}

.leftout {
	left: -300px;
	/*width: 0px;*/

}

.rightin {
	left:300px;
	width: 0px;
	
}

.rightout {
	left: 300px;
	width: 0px;
}


.leftoutright {
    left:300px;
	width: 0px;
	
}

.leftoutleft {
    margin-left:-300px;
}

.leftnull {
    left:0px;
	width: 300px;
    
   
  
}

.width300 {
 width: 300px;
  
}

 input[type=text],input[type=password] {
    display: block;
    padding: 12px 10px;
    -webkit-box-sizing: border-box;

	border-radius: 8px;

	box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
	
	width:100%;
	max-width:100%;
	margin:0 auto .5em;
	font-size: 22px;
	border:1px solid #aaa!important;
	background-color: white;
 }
 
p.center {
	text-align:  center;
}

 button {
	width: 7.7em;
	padding: 10px 15px;
	font-size: 20px;
	border-radius: 5px;
	background-color: rgb(79,129,189);
	border: solid 1px;
 }
 
 button:hover {
	background-color: lightblue;
 }
 
.container {
    background:white;
	border-radius: 8px;	
	margin: 10px;
    padding: 10px;
 }
 .container table {
   border-collapse:collapse;
 }

table {
    border-collapse:collapse;

}

.window table {
   width: 100%;
}
.container tr{
  
  border-bottom: 1px solid #000;
  border-color: lightgray;
 
}
.container table tr:last-child{
    border-bottom: none;
   
}
.container td{

   height: 32px;
  
}


td.tr {
    text-align: right;
    
}
th.tl {
    text-align: left;
    
}

td.tl {
    text-align: left;
    
}


th.tr {
    text-align: right;
    
}




.userimg img {
	height : 52px;
	width : 80px;
}

.overlay_wait {
	display: none; /* modified via jQuery */
	/* width + height set via jQuery */
	/* position: absolute; */
	position: fixed;
	z-index: 110;
	-webkit-box-sizing: content-box;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}


.overlay_wait .inner {
    position:absolute;
    height:100px;
    width:200px;
    margin:-50px 0px 0px -100px;
    top: 50%;
    left: 50%;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
}

.overlay_wait .inner img {
 margin: 10px;
}


/* spezielle Seiten - styles */
 
/*
#scrollwindowumfeldanalyse .container {
	
	height: 95%;
	bottom: 10px;
	
	
}*/
 
#map_canvas {
	margin: 10px;

}
